# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp
.pnp.js

# lockfiles (opcional, remova se usar o gerenciador correspondente)
# bun.lockb
# pnpm-lock.yaml

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# macOS & Windows
.DS_Store
Thumbs.db
*.pem

# local env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# generated native folders
/ios
/android